<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>{{title}}</title>
</head>

<body class="dark:bg-zinc-800">
  <nav class="bg-violet-600 dark:bg-violet-900 p-5 shadow md:flex md:items-center md:justify-between">
    <div class="flex justify-between items-center">
      <a href="https://9000-firebase-botdiscord-1752586139368.cluster-kc2r6y3mtba5mswcmol45orivs.cloudworkstations.dev/"
        class="text-2xl cursor-pointer text-white"><img src="/img/icon.png" class="h-[70px] inline" alt="">WitcherBot</a>
      <span class="text-3xl text-white cursor-pointer md:hidden mx-2 block">
        <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
      </span>
    </div>
    <ul
      class="pb-4 pt-4 md:flex md:items-center z-[200] md:z-auto md:static absolute bg-violet-600 dark:bg-violet-900 w-full left-0 md:w-auto md:py-0 py-0 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500 shadow md:shadow-violet-600 dark:md:shadow-violet-900">
      <li class="mx-4 my-6"><a class="text-xl text-white hover:text-gray-200 duration-500"
          href="/">Home</a>
      </li>
      <li class="mx-4 my-6"><a class="text-xl text-white hover:text-gray-200 duration-500"
          href="/dashboard">DashBoard</a>
      </li>
      <el-dropdown class="flex">
        <button class="mx-4 mb-6 md:my-6 text-xl text-white hover:text-gray-200 duration-500 cursor-pointer">About</button>
        <el-menu anchor="bottom end" popover
          class="w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-violet-600 dark:bg-violet-800 shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
          <div class="py-1">
            <a href="#"
              class="block px-4 py-2 text-sm text-white focus:bg-violet-700 focus:text-gray-200 focus:outline-hidden">KraunDew</a>
            <a href="#"
              class="block px-4 py-2 text-sm text-white focus:bg-violet-700 focus:text-gray-200 focus:outline-hidden">WhitcherBot</a>
          </div>
        </el-menu>
      </el-dropdown>
      {{#if user}}
      <el-dropdown class="inline-block">
        <button class="px-6 py-2 mx-4"><img src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.webp" alt="perfil"
        class="flex items-center rounded-full border-4 border-white/30 size-18" /></button>
        <el-menu anchor="bottom end" popover
          class="w-60 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
          <div class="py-1">
            <form action="/logout" method="post" id="logout">
        <button type="submit" form="logout" class="w-full h-full cursor-pointer text-red-600 hover:bg-gray-200 focus:text-red-700 flex items-center justify-center"><ion-icon class="text-2xl pr-2" name="log-out"></ion-icon>Logout</button>
      </form>
          </div>
        </el-menu>
      </el-dropdown>
      
      
      {{else}}
      <a href="/login"
        class="px-6 py-2 mx-4 bg-white dark:bg-gray-200 dark:hover:bg-white rounded hover:bg-gray-200 hover:text-gray-700 duration-500 flex items-center">
        <svg class="size-10 fill-[#7289DA]">
          <use href="/svg/sprites.svg#discord">
        </svg> Login with Discord</a>
      {{/if}}
    </ul>
  </nav>
  {{{body}}}
  <script>
    function Menu(e) {
      let list = document.querySelector("ul");
      e.name === "menu" ? (e.name = "close", list.classList.add("top-[80px]"), list.classList.add("opacity-100")) : (e.name = "menu", list.classList.remove("top-[80px]"), list.classList.remove("opacity-100"))
    }
  </script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</body>

</html>